.layout {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.layout__header {
  width: 100%;
  background-color: var(--white);
  height: 70px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.layout__header.fixed {
  max-width: calc(100% - 100px);
  position: fixed;
  top: 0;
  z-index: 1;
}

.layout__header-title {
  font: 400 clamp(28px, 3.5dvh, 48px) / 1 'Art Nuvo';
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: var(--brown);
  margin-right: auto;
}

.layout__header-btn {
  background-color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
}

.layout__header-btn svg {
  width: 24px;
  height: 24px;
  color: var(--brown);
}

/* Features */
.layout__features {
  width: 100%;
  height: 100px;
  padding-block: 10px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.layout__features-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font: 400 16px / 1.2 'Arial Nova';
  color: var(--brown); 
}

.layout__features-item svg {
  width: 35px;
  height: 35px;
  color: var(--brown);
}

@media (max-width: 1440px) {
  .layout__features {
    height: 70px;
  }

  .layout__features-item {
    font-size: 14px;
  }

  .layout__features-item svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  .layout {
    padding: 0 20px;
  }

  .layout__header {
    height: 50px;
  }

  .layout__header.fixed {
    max-width: calc(100% - 40px);
  }

  .layout__header-title {
    font-size: 24px;
  }

  .layout__features-item {
    font-size: 12px;
  }

  .layout__features-item svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 560px) {
  .layout__features {
    padding-block: 10px;
    height: 90px;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .layout__features-item svg {
    width: 20px;
    height: 20px;
  }
}